In [1]:
import pyspark
from pyspark import SparkContext
from pyspark.sql import SparkSession
import osmnx as ox
import pandas as pd
import os
from pyspark.sql.functions import *
from pyspark.sql.functions import col, regexp_replace, split

In [2]:
spark = SparkSession.Builder().getOrCreate()

In [3]:
usacc_df = spark.read.csv("./Data/US_Accidents/US_Accidents_Dec19.csv", header=True)
usacc_df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- TMC: string (nullable = true)
 |-- Severity: string (nullable = true)
 |-- Start_Time: string (nullable = true)
 |-- End_Time: string (nullable = true)
 |-- Start_Lat: string (nullable = true)
 |-- Start_Lng: string (nullable = true)
 |-- End_Lat: string (nullable = true)
 |-- End_Lng: string (nullable = true)
 |-- Distance(mi): string (nullable = true)
 |-- Description: string (nullable = true)
 |-- Number: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- Side: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Airport_Code: string (nullable = true)
 |-- Weather_Timestamp: string (nullable = true)
 |-- Temperature(F): string (nullable = true)
 |-- Wind_Chill(F): string (nullable = true)
 |-- Humidity(%): string (nullable = true)
 |-- Pressure(in): string (nullable = true)
 |-- Visibility(mi): string (nullable = true)
 |-- Wind_Direction: string (nullable = true)
 |-- Wind_Speed(mph): string (nullable = true)
 |-- Precipitation(in): string (nullable = true)
 |-- Weather_Condition: string (nullable = true)
 |-- Amenity: string (nullable = true)
 |-- Bump: string (nullable = true)
 |-- Crossing: string (nullable = true)
 |-- Give_Way: string (nullable = true)
 |-- Junction: string (nullable = true)
 |-- No_Exit: string (nullable = true)
 |-- Railway: string (nullable = true)
 |-- Roundabout: string (nullable = true)
 |-- Station: string (nullable = true)
 |-- Stop: string (nullable = true)
 |-- Traffic_Calming: string (nullable = true)
 |-- Traffic_Signal: string (nullable = true)
 |-- Turning_Loop: string (nullable = true)
 |-- Sunrise_Sunset: string (nullable = true)
 |-- Civil_Twilight: string (nullable = true)
 |-- Nautical_Twilight: string (nullable = true)
 |-- Astronomical_Twilight: string (nullable = true)

In [4]:
usacc_df.createOrReplaceTempView("usacc")

In [5]:
street_sqlDF = spark.sql("SELECT DISTINCT(CONCAT(City,', ',State,', ',Country,'A')) AS Address FROM usacc")
add_list = [row['Address'] for row in street_sqlDF.collect()]
add_list

['Lockbourne, OH, USA',
 'Greenwood, CA, USA',
 'Santa Monica, CA, USA',
 'Stanton, CA, USA',
 'Yucca Valley, CA, USA',
 'Ormond Beach, FL, USA',
 'Sidell, FL, USA',
 'Highland, IL, USA',
 'Riverview, MI, USA',
 'Luna Pier, MI, USA',
 'Fair Lawn, NJ, USA',
 'Irvington, NY, USA',
 'Hadley, MA, USA',
 'Springfield Gardens, NY, USA',
 'Pleasantville, NY, USA',
 'Berkeley Heights, NJ, USA',
 'Tenafly, NJ, USA',
 'Oakville, CT, USA',
 'Slingerlands, NY, USA',
 'Grand Rapids, OH, USA',
 'Mc Lean, VA, USA',
 'Breinigsville, PA, USA',
 'Sparrows Point, MD, USA',
 'Spring City, PA, USA',
 'Kittanning, PA, USA',
 'Snohomish, WA, USA',
 'Dupont, WA, USA',
 'Butler, GA, USA',
 'Wooster, OH, USA',
 'Albers, IL, USA',
 'Alger, MI, USA',
 'Ashley, OH, USA',
 'Fish Camp, CA, USA',
 'Harwich, MA, USA',
 'Wausau, WI, USA',
 'Union Pier, MI, USA',
 'Overton, NV, USA',
 'Kings Beach, CA, USA',
 'Hope Mills, NC, USA',
 'Big Bar, CA, USA',
 'Gardiner, OR, USA',
 'Golden Valley, AZ, USA',
 'Strawberry Plains, TN, USA',
 'Janesville, CA, USA',
 'Clinton, NC, USA',
 'Ferron, UT, USA',
 'Grand View, ID, USA',
 'Rogersville, TN, USA',
 'Pineview, GA, USA',
 'Deweyville, UT, USA',
 'Hobbs, NM, USA',
 'Point Arena, CA, USA',
 'Boyers, PA, USA',
 'Three Rivers, TX, USA',
 'Otisville, NY, USA',
 'Fawn Grove, MD, USA',
 'Aurora, NC, USA',
 'Chauvin, LA, USA',
 'Hillsgrove, PA, USA',
 'Mount Olive, MS, USA',
 'Millers Creek, NC, USA',
 'Rhome, TX, USA',
 'Oklahoma City Southwest, OK, USA',
 'Slaughters, KY, USA',
 'Grygla, MN, USA',
 'Murrayville, GA, USA',
 'Chisholm, MN, USA',
 'Mountain City, NV, USA',
 'Morrisonville, NY, USA',
 'Northeast Travis, TX, USA',
 'Mount Ulla, NC, USA',
 'Encinal, TX, USA',
 'Artesia, NM, USA',
 'Woodville, TX, USA',
 'Kimberlin Heights, TN, USA',
 'Mendon, MI, USA',
 'White Plains, MD, USA',
 'Falfurrias, TX, USA',
 'West Plains, MO, USA',
 'Lancaster, KY, USA',
 'Northport, WA, USA',
 'Rock Hall, MD, USA',
 'South Brunswick, NJ, USA',
 'Wrightsville Beach, NC, USA',
 'Salmon, ID, USA',
 'Lewistown, IL, USA',
 'Fargo, GA, USA',
 'Marydel, DE, USA',
 'Eagle, ID, USA',
 'Nespelem, WA, USA',
 'North Plains, OR, USA',
 'Mount Calvary, WI, USA',
 'Ringle, WI, USA',
 'Williamsville, VA, USA',
 'Lemont Furnace, PA, USA',
 'Warner, OK, USA',
 'Ackworth, IA, USA',
 'Assaria, KS, USA',
 'Penn Valley, CA, USA',
 'Princeton, CA, USA',
 'Santa Rosa Valley, CA, USA',
 'Lake Wales, FL, USA',
 'Astor, FL, USA',
 'San Mateo, FL, USA',
 'Maysville, GA, USA',
 'Spring Grove, IL, USA',
 'Princeton, IL, USA',
 'Western Springs, IL, USA',
 'Indian Head Park, IL, USA',
 'Saint Albans, NY, USA',
 'Melville, NY, USA',
 'Elmhurst, NY, USA',
 'East Meadow, NY, USA',
 'Lebanon, NJ, USA',
 'Montclair, NJ, USA',
 'Bristol, CT, USA',
 'Amherst, MA, USA',
 'Oxford, NJ, USA',
 'Washington Township, OH, USA',
 'Heath, OH, USA',
 'Greenup, KY, USA',
 'Glen Burnie, MD, USA',
 'Stroudsburg, PA, USA',
 'Ocean View, NJ, USA',
 'Drexel Hill, PA, USA',
 'Lancaster, TX, USA',
 'Astoria, OR, USA',
 'Bladensburg, MD, USA',
 'Dawson, GA, USA',
 'Avalon, PA, USA',
 'Citrus Springs, FL, USA',
 'Ottawa Lake, MI, USA',
 'Auburn, NH, USA',
 'Mauldin, SC, USA',
 'Milwaukee, WI, USA',
 'Deerwood, MN, USA',
 'Broomfield, CO, USA',
 'Hampshire, TN, USA',
 'Southlake, TX, USA',
 'North Jackson, OH, USA',
 'Washoe Valley, NV, USA',
 'Lemon Cove, CA, USA',
 'Limestone, TN, USA',
 'Lanexa, VA, USA',
 'Laredo, TX, USA',
 'Saint Jo, TX, USA',
 'Hanley Falls, MN, USA',
 'Ardmore, AL, USA',
 'Austin, IN, USA',
 'Okauchee, WI, USA',
 'Millville, PA, USA',
 'Winchester, KY, USA',
 'Port Orford, OR, USA',
 'Mc Connells, SC, USA',
 'Red Rock, AZ, USA',
 'Sylvan Beach, NY, USA',
 'Guthrie, OK, USA',
 'Meeteetse, WY, USA',
 'Lacon, IL, USA',
 'Elizabethtown, NY, USA',
 'Guilford, VT, USA',
 'Rose Creek, MN, USA',
 'Broadway, NC, USA',
 'Brighton, TN, USA',
 'Fulton, AR, USA',
 'Munfordville, KY, USA',
 'Ridgeway, MO, USA',
 'Milan, TN, USA',
 'Milton, WI, USA',
 'Granger, IN, USA',
 'Maplewood, OH, USA',
 'West Columbia, TX, USA',
 'Dorrance, KS, USA',
 'Walnut Grove, MS, USA',
 'Greenville, NH, USA',
 'Bagley, IA, USA',
 'Livermore, CO, USA',
 'Millfield, OH, USA',
 'Prescott, WA, USA',
 'Coyle, OK, USA',
 'Kirksville, MO, USA',
 'Princeton, WI, USA',
 'Copake, NY, USA',
 'Dickinson Center, NY, USA',
 'Damascus, GA, USA',
 'Paoli, CO, USA',
 'Smithville, OH, USA',
 'Ellenburg Depot, NY, USA',
 'Free Soil, MI, USA',
 'Galena, OH, USA',
 'Springfield, OH, USA',
 'Winchester, CA, USA',
 'Hollywood, FL, USA',
 'Melbourne, FL, USA',
 'Ochopee, FL, USA',
 'Brooklet, GA, USA',
 'Trenton, SC, USA',
 'Blencoe, IA, USA',
 'Polk City, IA, USA',
 'Cherry Valley, IL, USA',
 'Riverhead, NY, USA',
 'Corona, NY, USA',
 'Middle Village, NY, USA',
 'Somerset, NJ, USA',
 'Wrentham, MA, USA',
 'Fairfield, NJ, USA',
 'Kinderhook, NY, USA',
 'Far Hills, NJ, USA',
 'Stone Ridge, NY, USA',
 'South River, NJ, USA',
 'Marysville, OH, USA',
 'Harleysville, PA, USA',
 'Egg Harbor City, NJ, USA',
 'Kingsville, MD, USA',
 'Delmont, PA, USA',
 'Athens, TX, USA',
 'Bellevue, WA, USA',
 'Goldendale, WA, USA',
 'Montrose, GA, USA',
 'Albert City, IA, USA',
 'Prospect, KY, USA',
 'Jacksonville, FL, USA',
 'Irmo, SC, USA',
 'Baird, TX, USA',
 'Richburg, SC, USA',
 'Navarre, FL, USA',
 'Clarksville, IN, USA',
 'Euclid, OH, USA',
 'Earlimart, CA, USA',
 'Fort Bliss, TX, USA',
 'King George, VA, USA',
 'Spring Creek, NV, USA',
 'Dammeron Valley, UT, USA',
 'Westport, CA, USA',
 'New London, NH, USA',
 'Waterville, PA, USA',
 'Piedmont, OK, USA',
 'Winthrop, MN, USA',
 'Walsenburg, CO, USA',
 'Dryden, VA, USA',
 'Georgetown, KY, USA',
 'Wilton, IA, USA',
 'Crofton, KY, USA',
 'Verndale, MN, USA',
 'Pecos, TX, USA',
 'Rio Dell, CA, USA',
 'Durango, CO, USA',
 'Mcgregor, MN, USA',
 'Whispering Pines, NC, USA',
 'Kirkwood, NY, USA',
 'Dunlap, TN, USA',
 'Mead, NE, USA',
 'Manteo, NC, USA',
 'Jeffers, MN, USA',
 'Ramseur, NC, USA',
 'Fairview, PA, USA',
 'Kemah, TX, USA',
 'Meramec, MO, USA',
 'District 1, MD, USA',
 'Ashtabula, OH, USA',
 'Colliers, WV, USA',
 'Freeport, PA, USA',
 'Sac City, IA, USA',
 'Valley City, OH, USA',
 'Brielle, NJ, USA',
 'Divide, MT, USA',
 'Meridian, TX, USA',
 'Laurel Bloomery, TN, USA',
 'Warm Springs, VA, USA',
 'Mc Gregor, IA, USA',
 'Worthington, IN, USA',
 'Wingate, IN, USA',
 'Norborne, MO, USA',
 'Ashton, ID, USA',
 'De Witt, AR, USA',
 'Bonnie, IL, USA',
 'Exeter, PA, USA',
 'Gentryville, IN, USA',
 'Cuba, NM, USA',
 'New Durham, NH, USA',
 'Loomis, CA, USA',
 'Patterson, CA, USA',
 'Sutter Creek, CA, USA',
 'Loma Linda, CA, USA',
 'Oldsmar, FL, USA',
 'Cocoa Beach-Cape Canaveral, FL, USA',
 'Atlanta, GA, USA',
 'Flowery Branch, GA, USA',
 'Glenwood, IA, USA',
 'Decatur, IL, USA',
 'Washington, IL, USA',
 'Waterman, IL, USA',
 'Midland, MI, USA',
 'Edison, NJ, USA',
 'Lawrence, MA, USA',
 'New Britain, CT, USA',
 'North Kingstown, RI, USA',
 'East Hanover, NJ, USA',
 'Newport, RI, USA',
 'Lebanon, PA, USA',
 'Ridley Park, PA, USA',
 'Wampum, PA, USA',
 'Fairfield, PA, USA',
 'Cheswick, PA, USA',
 'Waynesboro, PA, USA',
 'Burleson, TX, USA',
 'Taylor, TX, USA',
 'Bronson, FL, USA',
 'New Harmony, UT, USA',
 'Cannon Falls, MN, USA',
 'Monroe, OH, USA',
 'Carrollton, VA, USA',
 'Bailey, CO, USA',
 'Clinton, MS, USA',
 'Mashpee, MA, USA',
 'Yankeetown, FL, USA',
 'North Little Rock, AR, USA',
 'Marion, VA, USA',
 'Gillsville, GA, USA',
 'Cusseta, AL, USA',
 'Wiggins, MS, USA',
 'Clyde, TX, USA',
 'Bingham Lake, MN, USA',
 'Mount Savage, MD, USA',
 'Littleton, NH, USA',
 'Buckner, KY, USA',
 'Colts Neck, NJ, USA',
 'Vienna, OH, USA',
 'Roll, AZ, USA',
 'Sarcoxie, MO, USA',
 'Illiopolis, IL, USA',
 'Piedmont, AL, USA',
 'Steinhatchee, FL, USA',
 'Marysville, PA, USA',
 'Olcott, NY, USA',
 'Palmyra, NY, USA',
 'South Prince George, VA, USA',
 'Cleveland, WI, USA',
 'Caret, VA, USA',
 'Iron, MN, USA',
 'Goliad, TX, USA',
 'Thorn Hill, TN, USA',
 'Flushing, OH, USA',
 'Cougar, WA, USA',
 'Hagerman, NM, USA',
 'Shacklefords, VA, USA',
 'Newburg, PA, USA',
 'North Walpole, NH, USA',
 'Montrose, IA, USA',
 'Phoenix, IL, USA',
 'Berlin Center, OH, USA',
 'Lindsay, NE, USA',
 'Waterloo, WI, USA',
 'Tipton, MI, USA',
 'Solway, MN, USA',
 'Cat Spring, TX, USA',
 'Tetonia, ID, USA',
 'Otway, OH, USA',
 'Manistee, MI, USA',
 'Buffalo, KS, USA',
 'Circleville, OH, USA',
 'San Pablo, CA, USA',
 'Walnut Grove, CA, USA',
 'Applegate, CA, USA',
 'Signal Hill, CA, USA',
 'Apple Valley, CA, USA',
 'Venice, FL, USA',
 'Osteen, FL, USA',
 'Concord, GA, USA',
 'Lagrange, GA, USA',
 'Menlo, IA, USA',
 'Alto, MI, USA',
 'Marne, MI, USA',
 'Martin, MI, USA',
 'Needham Heights, MA, USA',
 'Newton Highlands, MA, USA',
 'Gloucester City, NJ, USA',
 'Williamsport, MD, USA',
 'Strasburg, PA, USA',
 'Tracys Landing, MD, USA',
 'Jonestown, TX, USA',
 'Briggs, TX, USA',
 'Milton Freewater, OR, USA',
 'Inglis, FL, USA',
 'Maryland, NY, USA',
 'Kenmore, WA, USA',
 'Atlantic, IA, USA',
 'Manson, WA, USA',
 'Parrish, AL, USA',
 'District 2, MD, USA',
 'Cottondale, FL, USA',
 'Seaside, OR, USA',
 'Landenberg, PA, USA',
 'Lebanon, VA, USA',
 'Coalinga, CA, USA',
 'Robertsdale, PA, USA',
 'Auberry, CA, USA',
 'Madison Heights, VA, USA',
 'Forest, VA, USA',
 'Deming, WA, USA',
 'Onamia, MN, USA',
 'Craig, CO, USA',
 'Seabrook, NH, USA',
 'Creedmoor, NC, USA',
 'Ava, NY, USA',
 'Villa Hills, KY, USA',
 'Columbia, TN, USA',
 'Trout Run, PA, USA',
 'Clopton, AL, USA',
 'Walker, LA, USA',
 'Twain, CA, USA',
 'Union City, OH, USA',
 'Magnolia, IL, USA',
 'Pinecrest, CA, USA',
 'Black Forest-Peyton, CO, USA',
 'Bricelyn, MN, USA',
 'Lee, FL, USA',
 'Clay City, KY, USA',
 'Vass, NC, USA',
 'Faison, NC, USA',
 'Braxton, MS, USA',
 'Folkston, GA, USA',
 'Twin Bridges, CA, USA',
 'Otis, CO, USA',
 'Hemlock, NY, USA',
 'Noxen, PA, USA',
 'Dunsmuir, CA, USA',
 'Weldon, CA, USA',
 'Crane, TX, USA',
 'Kensington, MN, USA',
 'Altamont, TN, USA',
 'Scarbro, WV, USA',
 'Patrick Springs, VA, USA',
 'Genoa, CO, USA',
 'Bangor, ME, USA',
 'Wallace, ID, USA',
 'Stanberry, MO, USA',
 'East Dummerston, VT, USA',
 'Little Plymouth, VA, USA',
 'Shiner, TX, USA',
 'Madison, IN, USA',
 'Asher, OK, USA',
 'Somerset, VA, USA',
 'Christopher, IL, USA',
 'Adams, WI, USA',
 'Carmel, ME, USA',
 'Kelly, NC, USA',
 'Vesuvius, VA, USA',
 'Dowling, MI, USA',
 'Clayton, GA, USA',
 'Ness City, KS, USA',
 'Santa Rosa, CA, USA',
 'Santa Cruz, CA, USA',
 'Meridian, CA, USA',
 'Vero Beach, FL, USA',
 'Forest Park, GA, USA',
 'Greensboro, GA, USA',
 'Canon, GA, USA',
 'Montezuma, GA, USA',
 'Cumming, IA, USA',
 'Urbana, IL, USA',
 'Worth, IL, USA',
 'Swartz Creek, MI, USA',
 'Albion, MI, USA',
 'Williamsburg, MI, USA',
 'Bloomfield, NJ, USA',
 'Kew Gardens, NY, USA',
 'Montrose, NY, USA',
 'Southampton, NY, USA',
 'Coventry, CT, USA',
 'Old Saybrook, CT, USA',
 'Southold, NY, USA',
 'Rye Brook, NY, USA',
 'Morrow, OH, USA',
 'Stewartsville, NJ, USA',
 'Waterford, VA, USA',
 'Mantua, NJ, USA',
 'Glen Mills, PA, USA',
 'Ebensburg, PA, USA',
 'Frenchtown, NJ, USA',
 'Royse City, TX, USA',
 'Tulalip, WA, USA',
 'Richwood, OH, USA',
 'Mansfield, GA, USA',
 'Savage, MD, USA',
 'Newport News, VA, USA',
 'Letohatchee, AL, USA',
 'Scotrun, PA, USA',
 'Candler, NC, USA',
 'Minnesota Lake, MN, USA',
 'Los Alamos, CA, USA',
 'Herculaneum, MO, USA',
 'Broussard, LA, USA',
 'Fowler, CA, USA',
 'Sun City West, AZ, USA',
 'Little Falls, NY, USA',
 'Rolesville, NC, USA',
 'Pinewood, SC, USA',
 'Scandia, MN, USA',
 'Kaysville, UT, USA',
 'Merrimac, MA, USA',
 'Carefree, AZ, USA',
 'Blue Springs, MS, USA',
 'Peridot, AZ, USA',
 'Milford, UT, USA',
 'Masonville, IA, USA',
 'Louisville Airport, KY, USA',
 'Enterprise, OR, USA',
 'Igo, CA, USA',
 'Sparta, NC, USA',
 'Glades, FL, USA',
 'Cleveland, UT, USA',
 'Irondequoit, NY, USA',
 'Thomasville, GA, USA',
 'Alpha, OH, USA',
 'Vernon Center, MN, USA',
 'Parkin, AR, USA',
 'Gilmanton, NH, USA',
 'Nampa, ID, USA',
 'Elsinore, UT, USA',
 'Union Hall, VA, USA',
 'Burr Hill, VA, USA',
 'Imlay City, MI, USA',
 'Pontotoc, MS, USA',
 'Shubuta, MS, USA',
 'Grafton, WV, USA',
 'Warren, TX, USA',
 'River Vale, NJ, USA',
 'Oliver Springs, TN, USA',
 'Orleans, VT, USA',
 'Millersburg, IN, USA',
 'Defiance, OH, USA',
 'Vanceburg, KY, USA',
 'Big Clifty, KY, USA',
 'Rogerson, ID, USA',
 'Clarksville, NY, USA',
 'Hamburg, AR, USA',
 'Goldthwaite, TX, USA',
 'Burnham, ME, USA',
 'Ashland, ME, USA',
 'Lakemont, GA, USA',
 'Brushton, NY, USA',
 'Schuyler, VA, USA',
 'Castleton, VT, USA',
 'Victor, WV, USA',
 'Concord, CA, USA',
 'Hopland, CA, USA',
 'Encinitas, CA, USA',
 'Trabuco Canyon, CA, USA',
 'Winnetka, CA, USA',
 'West Hollywood, CA, USA',
 'Reseda, CA, USA',
 'Williston, SC, USA',
 'Niles, IL, USA',
 'Columbiaville, MI, USA',
 'Stony Point, NY, USA',
 'Killbuck, OH, USA',
 'Elizabethtown, PA, USA',
 'Belle Vernon, PA, USA',
 'Mount Holly, NJ, USA',
 'Glen Arm, MD, USA',
 'Williamstown, NJ, USA',
 'Renton, WA, USA',
 'Woodland, WA, USA',
 'Alton, IA, USA',
 'Brightwaters, NY, USA',
 'Salem, VA, USA',
 'Tallahassee, FL, USA',
 'Randolph, MN, USA',
 'Owasso, OK, USA',
 'Saint Pauls, NC, USA',
 'Brockport, NY, USA',
 'Gate City, VA, USA',
 'Gretna, VA, USA',
 'Elverson, PA, USA',
 'Ryland Heights, KY, USA',
 'Olar, SC, USA',
 'Houston, MN, USA',
 'Mequon, WI, USA',
 'Covelo, CA, USA',
 'Westlake, OH, USA',
 'Eden, WI, USA',
 'Pesotum, IL, USA',
 'La Feria, TX, USA',
 'Wellsville, UT, USA',
 'Potter, NE, USA',
 'Montgomery City, MO, USA',
 'Toughkenamon, PA, USA',
 'Theresa, WI, USA',
 'Hamilton City, CA, USA',
 'Sisters, OR, USA',
 'Gibson, IA, USA',
 'Cheektowaga, NY, USA',
 'White Sands Missile Range, NM, USA',
 'Goose Lake, IA, USA',
 'Fall Creek, WI, USA',
 'Mount Pleasant, NC, USA',
 'Rawlins, WY, USA',
 'Snow Hill, NC, USA',
 'Belmont, OH, USA',
 'Weldona, CO, USA',
 'Windsor, VA, USA',
 'Harmans, MD, USA',
 'Petty, TX, USA',
 'Dongola, IL, USA',
 'Lowell, IN, USA',
 'Grand Junction, MI, USA',
 'Lyons, OH, USA',
 'Central Jefferson, KY, USA',
 'Rapid City, SD, USA',
 'White Hall, AR, USA',
 'Marbury, MD, USA',
 'Glendo, WY, USA',
 'Robeline, LA, USA',
 'Marienville, PA, USA',
 'Blair, WI, USA',
 'Austin, AR, USA',
 'Athens, NY, USA',
 'Bee Branch, AR, USA',
 'Decatur, AR, USA',
 'Waynesville, OH, USA',
 'Fremont, CA, USA',
 'El Dorado Hills, CA, USA',
 'Rio Vista, CA, USA',
 'Temecula, CA, USA',
 'Lompoc, CA, USA',
 'Hobe Sound, FL, USA',
 'Sergeant Bluff, IA, USA',
 'Marseilles, IL, USA',
 'Odell, IL, USA',
 'Plainwell, MI, USA',
 'White Plains, NY, USA',
 'Jersey City, NJ, USA',
 'Manville, RI, USA',
 'Secaucus, NJ, USA',
 'Jamaica Plain, MA, USA',
 'Patterson, NY, USA',
 'Ashland, OH, USA',
 'Lawnside, NJ, USA',
 'Telford, PA, USA',
 'Morgantown, WV, USA',
 'Crowley, TX, USA',
 'Lake Tapps, WA, USA',
 'Towaco, NJ, USA',
 'Mineral Wells, TX, USA',
 'Galena, MD, USA',
 'Loxley, AL, USA',
 'Fillmore, UT, USA',
 'Hopkins, SC, USA',
 'Orem, UT, USA',
 'Cleveland, NC, USA',
 'Alton Bay, NH, USA',
 'Moss Point, MS, USA',
 'Usk, WA, USA',
 'Terrell, NC, USA',
 'Caruthers, CA, USA',
 'Zionville, NC, USA',
 'Grand Ridge, IL, USA',
 'West Lafayette, IN, USA',
 'Tracy, MN, USA',
 'Julesburg, CO, USA',
 'Proctor, AR, USA',
 'Elm City, NC, USA',
 'Glenwood, MN, USA',
 'Williamston, NC, USA',
 'Hartland, WI, USA',
 'Dungannon, VA, USA',
 'Stoneboro, PA, USA',
 'Sabattus, ME, USA',
 'Delano-McFarland, CA, USA',
 'Harrah, OK, USA',
 'Sawyerville, AL, USA',
 'Pilot Point, TX, USA',
 'Ardara, PA, USA',
 'Fennimore, WI, USA',
 'Stockton, IA, USA',
 'Midland, OH, USA',
 'Dubois, ID, USA',
 'Cascade, MT, USA',
 'Paradise Valley, NV, USA',
 'Moberly, MO, USA',
 'Wilmot, OH, USA',
 'Vestaburg, MI, USA',
 'Hale, MI, USA',
 'Crow Agency, MT, USA',
 'Greenville, IN, USA',
 'Bowling Green, OH, USA',
 'Biggs, CA, USA',
 'Brea, CA, USA',
 'San Antonio, FL, USA',
 'Surfside, FL, USA',
 'Cocoa-Rockledge, FL, USA',
 'Fox Lake, IL, USA',
 'Richmond, IL, USA',
 'Dupo, IL, USA',
 'Flat Rock, MI, USA',
 'Middleville, MI, USA',
 'Berrien Springs, MI, USA',
 'Jewett City, CT, USA',
 'Greenville, RI, USA',
 'Berlin, NY, USA',
 'Cordova, MD, USA',
 'South Fork, PA, USA',
 'Eaton Rapids, MI, USA',
 'Baton Rouge, LA, USA',
 'Crestview, FL, USA',
 'Hallstead, PA, USA',
 'Santee, SC, USA',
 'Milaca, MN, USA',
 'Mariposa, CA, USA',
 'Olyphant, PA, USA',
 'Hawley, PA, USA',
 'Robertsdale, AL, USA',
 'Ruckersville, VA, USA',
 'Ruby, SC, USA',
 'Laughlin, NV, USA',
 'Planada, CA, USA',
 'Ludlow, KY, USA',
 'Whitingham, VT, USA',
 'Helotes, TX, USA',
 'Island Park, NY, USA',
 'Stinson Beach, CA, USA',
 'Marion, AL, USA',
 'Monona, WI, USA',
 'Cochise, AZ, USA',
 'Spring Grove, MN, USA',
 'Ozark, MO, USA',
 'Mc Lean, IL, USA',
 'Hastings, NE, USA',
 'Laurinburg, NC, USA',
 'Osterville, MA, USA',
 'Newton, NH, USA',
 'Loretto, TN, USA',
 'Lavon, TX, USA',
 'Newport, VT, USA',
 'Drummond, MT, USA',
 'Oswego, NY, USA',
 'Thackerville, OK, USA',
 'Rainsville, AL, USA',
 'Amston, CT, USA',
 'Pawnee, OK, USA',
 'West Richland, WA, USA',
 'Hansen, ID, USA',
 'Clearmont, MO, USA',
 'Vine Grove, KY, USA',
 'Thermopolis, WY, USA',
 'Holtville, CA, USA',
 'Marble Canyon, AZ, USA',
 'Mancos, CO, USA',
 'Lancing, TN, USA',
 'Ash, NC, USA',
 'Louisville, MS, USA',
 'Ellerbe, NC, USA',
 'Sears, MI, USA',
 'Harbinger, NC, USA',
 'Sweetwater, FL, USA',
 'Rivesville, WV, USA',
 'Paron, AR, USA',
 'Dublin, OH, USA',
 'Cotati, CA, USA',
 'Milpitas, CA, USA',
 'Sonoma, CA, USA',
 'Aromas, CA, USA',
 'Paicines, CA, USA',
 'Commerce, CA, USA',
 'Valyermo, CA, USA',
 'Laurens, SC, USA',
 'Salix, IA, USA',
 'Pleasant Hill, IA, USA',
 'Homewood, IL, USA',
 'Saint Joseph, MI, USA',
 'East Providence, RI, USA',
 'Port Jervis, NY, USA',
 'Sayville, NY, USA',
 'New Milford, NJ, USA',
 'Claryville, NY, USA',
 'Merion Station, PA, USA',
 'Etters, PA, USA',
 'Elkton, MD, USA',
 'Millville, NJ, USA',
 'Shrewsbury, PA, USA',
 'Grandview, TX, USA',
 'Lauderhill, FL, USA',
 'Harrisonburg, VA, USA',
 'Ilwaco, WA, USA',
 'Verona, NY, USA',
 'Oak Grove, MO, USA',
 'Marion, AR, USA',
 'East Sandwich, MA, USA',
 'Tipton, CA, USA',
 'Milton, PA, USA',
 'Jay, FL, USA',
 'Lawtey, FL, USA',
 'South Chatham, MA, USA',
 'Santa Rosa Beach, FL, USA',
 'Appleton, NY, USA',
 'Colorado City, TX, USA',
 'Warwick, MD, USA',
 'Lufkin, TX, USA',
 'Jenkinsville, SC, USA',
 'Fulda, MN, USA',
 'San Angelo, TX, USA',
 'Farmingdale, NJ, USA',
 'Johnsonville, NY, USA',
 'Hatch, UT, USA',
 'Aspinwall, PA, USA',
 'Huron, OH, USA',
 'Westwood, CA, USA',
 'Bourbon, MO, USA',
 'Millport, AL, USA',
 'Highland Heights, KY, USA',
 'Ripley, OK, USA',
 'Groton, NY, USA',
 'Lecompton, KS, USA',
 'Columbus, NE, USA',
 'Smithfield, UT, USA',
 'Bloomer, WI, USA',
 'Greenville, WI, USA',
 'Hartman, AR, USA',
 'Edmonton, KY, USA',
 'Ithaca, NY, USA',
 'Alda, NE, USA',
 'Lahoma, OK, USA',
 'Coalgate, OK, USA',
 'Clinton, ME, USA',
 'Galien, MI, USA',
 'West Union, WV, USA',
 'Arlington, VT, USA',
 'Woodward, OK, USA',
 'Wyandotte, OK, USA',
 'Arlington, IA, USA',
 'Horse Shoe, NC, USA',
 'Liberty, TN, USA',
 'Chili, WI, USA',
 'Standish, ME, USA',
 'Ohkay Owingeh, NM, USA',
 'Stanford, MT, USA',
 'Ketchum, ID, USA',
 'Hays, KS, USA',
 'Inman, NE, USA',
 'Orange, CA, USA',
 'Altadena, CA, USA',
 'Castaic, CA, USA',
 'Pearblossom, CA, USA',
 'Alva, FL, USA',
 'Hodges, SC, USA',
 'Flovilla, GA, USA',
 'Huntley, IL, USA',
 'Bridgeport, MI, USA',
 'Lawrence, MI, USA',
 'Augusta, MI, USA',
 'Livingston, NJ, USA',
 'Palmer, MA, USA',
 'Sag Harbor, NY, USA',
 'Midland Park, NJ, USA',
 'Randolph, NJ, USA',
 'Butler, NJ, USA',
 'Winchester, MA, USA',
 'Baldwin Place, NY, USA',
 'King Of Prussia, PA, USA',
 'Middletown, PA, USA',
 'Wexford, PA, USA',
 'Easton, MD, USA',
 'Connellsville, PA, USA',
 'Bedford, TX, USA',
 'Conroe, TX, USA',
 'Tiffin, OH, USA',
 'Draper, UT, USA',
 'Loris, SC, USA',
 'Blythewood, SC, USA',
 'Lawrenceburg, IN, USA',
 'Ridgeland, SC, USA',
 'Salem, OR, USA',
 'Yamhill, OR, USA',
 'Stewart, MN, USA',
 'Kingsburg, CA, USA',
 'Hanover Township, PA, USA',

In [33]:
i = 1
for addr in add_list:
    try:
        graph = ox.graph_from_place(addr, network_type='drive')
        nodes, streets = ox.graph_to_gdfs(graph)
        streets = streets.drop('geometry', axis=1)
        streets.to_csv('./Data/Road Data/Road_Data_'+str(i)+'.csv')
        i+=1
    except Exception:
        continue

TopologyException: Input geom 0 is invalid: Self-intersection at or near point -91.669807967654165 45.30289788036567 at -91.669807967654165 45.30289788036567

In [4]:
road_folder = './Data/Road Data'
road_data = os.listdir(road_folder)
abspathev = []
for i in range(len(road_data)):
    abspathev.append(os.path.abspath(road_folder+'/'+road_data[i]))
road_df = spark.read.csv(abspathev, header=True)
road_df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- u: string (nullable = true)
 |-- v: string (nullable = true)
 |-- key: string (nullable = true)
 |-- osmid: string (nullable = true)
 |-- name: string (nullable = true)
 |-- highway: string (nullable = true)
 |-- oneway: string (nullable = true)
 |-- length: string (nullable = true)
 |-- lanes: string (nullable = true)
 |-- maxspeed: string (nullable = true)
 |-- junction: string (nullable = true)
 |-- access: string (nullable = true)
 |-- bridge: string (nullable = true)
 |-- ref: string (nullable = true)
 |-- tunnel: string (nullable = true)
 |-- service: string (nullable = true)
 |-- width: string (nullable = true)
 |-- area: string (nullable = true)

In [7]:
road_df.describe().toPandas()

,summary,_c0,u,v,key,osmid,name,highway,oneway,length,lanes,maxspeed,junction,access,bridge,ref,tunnel,service,width,area
0,count,29225788,29225788,29225788,29225788,29225788,25464791,27520279,27976066,27176153,9218668,5037419,1975417,630443,175824,54330,13075,2828,1971,66
1,mean,17123.689275307137,7.446330202602341E8,7.445663950593959E8,0.015069157416730731,1.1456927273000199E8,7.094438863897746,4.827061494239516,306.6842534620282,1909927.0138307575,141.64545687296672,131.80018555270564,117.55614258126252,67.06493806363144,9.885247753361757,9.576203966005671,1736.909263022508,9.449606299212597,11.364779874213836,None
2,stddev,34950.86378050069,1.5133765444075043E9,1.5131118432165954E9,0.12353329935197903,1.9755109496206072E8,313.3444506858292,119.91123096575451,556.5227123473394,6.186381000000144E9,919.3646031196254,517.0340661461936,191.1609827072154,330.7298299480643,21.119466972651377,4.427630890317207,9487.342160855851,5.537557538713542,4.9168547418551825,None
3,min,0,100000061,100000061,0,10000001,C Bar C Ranch Rd,"""""Alden's Oak""""]""","""""Amanda's Way""""]""","""""Benford's Road""""]""","""""St. Patrick's Place""""]""","""""Bearse's Way""""]""","""""Preacher's Brook Road""""]""","""""North O'Connor Road""""]""","""""28'""""]""",0,"""[""""18'""""","""""12'""""","""""20'""""","""""22'""""]"""
4,max,99999,99999909,99999909,9,"[9999976, 9990692]",Южная улица,❤️ Over Pocket,yt,yes,yes,yes,yes,yes,||no,yes|yes|yes|no|yes|yes,yes,yes,yes,residential

In [8]:
usacc_df.describe().toPandas()

,summary,ID,Source,TMC,Severity,Start_Time,End_Time,Start_Lat,Start_Lng,End_Lat,...,Roundabout,Station,Stop,Traffic_Calming,Traffic_Signal,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight
0,count,2974335,2974335,2246264,2974335,2974335,2974335,2974335,2974335,728071,...,2974335,2974335,2974335,2974335,2974335,2974335,2974242,2974242,2974242,2974242
1,mean,None,None,207.83163198982845,2.360190092911525,None,None,36.493605002031636,-95.4262537385967,37.58087071324656,...,None,None,None,None,None,None,None,None,None,None
2,stddev,None,None,20.32958633116194,0.5414733263296426,None,None,4.918848998696759,17.218805933372185,5.00475695787924,...,None,None,None,None,None,None,None,None,None,None
3,min,A-1,Bing,200.0,1,2015-03-09 07:00:00,2016-02-08 06:37:08,24.555269,-100.000206,24.57011,...,False,False,False,False,False,False,Day,Day,Day,Day
4,max,A-999999,MapQuest-Bing,406.0,4,2020-01-01 00:50:55,2020-10-31 23:59:00,49.002201,-99.988158,49.075,...,True,True,True,True,True,False,Night,Night,Night,Night

In [9]:
road_df.createOrReplaceTempView("road")

In [10]:
road_sqlDF = spark.sql("SELECT name, highway, oneway, length, lanes, maxspeed FROM road")
road_sqlDF.printSchema()

root
 |-- name: string (nullable = true)
 |-- highway: string (nullable = true)
 |-- oneway: string (nullable = true)
 |-- length: string (nullable = true)
 |-- lanes: string (nullable = true)
 |-- maxspeed: string (nullable = true)

In [11]:
road_sqlDF = road_sqlDF.withColumn("name",split(regexp_replace(col("name"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF = road_sqlDF.withColumn("highway",split(regexp_replace(col("highway"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF = road_sqlDF.withColumn("oneway",split(regexp_replace(col("oneway"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF = road_sqlDF.withColumn("length",split(regexp_replace(col("length"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF = road_sqlDF.withColumn("lanes",split(regexp_replace(col("lanes"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF = road_sqlDF.withColumn("maxspeed",split(regexp_replace(col("maxspeed"), r"(^\[)|(\]$)|(')", ""), ","))
road_sqlDF.show(truncate=False)

+---------------------------+--------------+-------+---------+-------+--------+
|name                       |highway       |oneway |length   |lanes  |maxspeed|
+---------------------------+--------------+-------+---------+-------+--------+
|[South Grenoble]           |[residential] |[False]|[94.741] |null   |null    |
|[East Rembrandt Avenue]    |[residential] |[False]|[190.412]|null   |null    |
|[South Grenoble]           |[residential] |[False]|[87.108] |null   |null    |
|[South Sunview]            |[residential] |[False]|[26.871] |null   |null    |
|[East Granite Avenue]      |[residential] |[False]|[35.399] |null   |null    |
|[South Sunview]            |[residential] |[False]|[26.871] |null   |null    |
|[East Granite Avenue]      |[residential] |[False]|[56.218] |null   |null    |
|[South Sunview]            |[residential] |[False]|[39.618] |null   |null    |
|[East La Salle Street]     |[residential] |[False]|[27.46]  |[2]    |[25 mph]|
|[East La Salle Street]     |[residential] |[False]|[51.077] |[2]    |[25 mph]|
|[South 22nd Way]           |[residential] |[False]|[88.104] |[2]    |[25 mph]|
|[South Sunview]            |[residential] |[False]|[39.618] |null   |null    |
|[East Stagecoach Pass Road]|[unclassified]|[False]|[373.195]|null   |null    |
|[West Catalina Drive]      |[residential] |[False]|[13.122] |null   |[25 mph]|
|[North Arbor Lane]         |[residential] |[False]|[59.612] |null   |null    |
|[West Warner Road]         |[secondary]   |[False]|[75.841] |[5]    |null    |
|[West Warner Road]         |[secondary]   |[True] |[110.296]|[3,  2]|null    |
|[East La Salle Street]     |[residential] |[False]|[51.077] |[2]    |[25 mph]|
|[East Chanute Pass]        |[residential] |[False]|[38.758] |[2]    |[25 mph]|
|[East Chanute Pass]        |[residential] |[False]|[75.343] |[2]    |[25 mph]|
+---------------------------+--------------+-------+---------+-------+--------+
only showing top 20 rows

In [12]:
road_sqlDF = road_sqlDF.select(explode(col("name")).alias("name"),col("highway"),col("oneway"),col("length"),col("lanes"),col("maxspeed"))
road_sqlDF = road_sqlDF.select(col("name"),explode(col("highway")).alias("highway"),col("oneway"),col("length"),col("lanes"),col("maxspeed"))
road_sqlDF = road_sqlDF.select(col("name"),col("highway"),explode(col("oneway")).alias("oneway"),col("length"),col("lanes"),col("maxspeed"))
road_sqlDF = road_sqlDF.select(col("name"),col("highway"),col("oneway"),explode(col("length")).alias("length"),col("lanes"),col("maxspeed"))
road_sqlDF = road_sqlDF.select(col("name"),col("highway"),col("oneway"),col("length"),explode(col("lanes")).alias("lanes"),col("maxspeed"))
road_sqlDF = road_sqlDF.select(col("name"),col("highway"),col("oneway"),col("length"),col("lanes"),explode(col("maxspeed")).alias("maxspeed"))
road_sqlDF = road_sqlDF.na.drop()
road_sqlDF.printSchema()

root
 |-- name: string (nullable = true)
 |-- highway: string (nullable = true)
 |-- oneway: string (nullable = true)
 |-- length: string (nullable = true)
 |-- lanes: string (nullable = true)
 |-- maxspeed: string (nullable = true)

In [13]:
road_sqlDF = road_sqlDF.withColumn('name', trim(road_sqlDF.name))
road_sqlDF = road_sqlDF.withColumn('highway', trim(road_sqlDF.highway))
road_sqlDF = road_sqlDF.withColumn('oneway', trim(road_sqlDF.oneway))
road_sqlDF = road_sqlDF.withColumn('length', trim(road_sqlDF.length))
road_sqlDF = road_sqlDF.withColumn('lanes', trim(road_sqlDF.lanes))
road_sqlDF = road_sqlDF.withColumn('maxspeed', trim(road_sqlDF.maxspeed))

In [14]:
road_sqlDF.createOrReplaceTempView("road_df")
road_sqlDF = spark.sql("SELECT * FROM road_df WHERE highway LIKE 'motorway' OR highway LIKE 'trunk' OR highway LIKE 'primary' OR highway LIKE 'secondary' OR highway LIKE 'tertiary' OR highway LIKE 'unclassified' OR highway LIKE 'residential'")
road_sqlDF = spark.sql("SELECT * FROM road_df WHERE oneway LIKE 'True' OR oneway LIKE 'False'")
road_sqlDF = spark.sql("SELECT * FROM road_df WHERE length LIKE '1%' OR length LIKE '2%' OR length LIKE '3%' OR length LIKE '4%' OR length LIKE '5%' OR length LIKE '6%' OR length LIKE '7%' OR length LIKE '8%' OR length LIKE '9%' OR length LIKE '0%'")
road_sqlDF = spark.sql("SELECT * FROM road_df WHERE lanes == 1 OR lanes == 2 OR lanes == 3 OR lanes == 4 OR lanes == 5 OR lanes == 6 OR lanes == 7 OR lanes == 8 OR lanes == 9 OR lanes == 10 OR lanes == 11 OR lanes == 12 OR lanes == 13 OR lanes == 14 OR lanes == 15 OR lanes == 16")
road_sqlDF = spark.sql("SELECT * FROM road_df WHERE maxspeed LIKE '%mph'")
road_sqlDF = road_sqlDF.dropDuplicates(['name'])

In [15]:
road_sqlDF = road_sqlDF.withColumn('name', regexp_replace('name', 'Road', ''))
road_sqlDF = road_sqlDF.withColumn('name', regexp_replace('name', 'Avenue', ''))
road_sqlDF = road_sqlDF.withColumn('name', regexp_replace('name', 'Street', ''))
road_sqlDF.show(truncate=False)

+--------------------+------------+------+------------------+------+--------+
|name                |highway     |oneway|length            |lanes |maxspeed|
+--------------------+------------+------+------------------+------+--------+
|13th  Southeast     |residential |False |361.875           |2     |25 mph  |
|Bannock             |residential |False |185.14            |1     |25 mph  |
|Barron Way          |unclassified|False |341.033           |2     |35 mph  |
|Beacon              |residential |False |267.16499999999996|2     |25 mph  |
|Brescher Drive      |residential |False |296.289           |2     |25 mph  |
|Broadway            |tertiary    |True  |408.55899999999997|GA 124|45 mph  |
|Cadillac Place      |unclassified|False |231.79100000000003|2     |25 mph  |
|Camino Tassajara    |secondary   |True  |77.726            |2     |45 mph  |
|Canyon              |residential |False |303.291           |1     |25 mph  |
|Constitution Highway|primary     |False |91.911            |VA 20 |55 mph  |
|Conwell             |secondary   |False |54.472            |SR 99 |35 mph  |
|Dale Boulevard      |secondary   |True  |20.552            |2     |45 mph  |
|Disk Drive          |tertiary    |False |76.32             |4     |30 mph  |
|East 3rd            |unclassified|False |330.84100000000007|2     |25 mph  |
|East Barbie Lane    |residential |False |201.859           |2     |25 mph  |
|East Commerce       |tertiary    |False |146.516           |2     |25 mph  |
|East Doral          |residential |False |418.567           |2     |25 mph  |
|East Hancock        |residential |False |14.149            |2     |25 mph  |
|East Horseshoe Place|residential |False |227.07999999999998|2     |25 mph  |
|East Merritt        |tertiary    |False |111.606           |4     |35 mph  |
+--------------------+------------+------+------------------+------+--------+
only showing top 20 rows

In [16]:
usacc_sqlDF = spark.sql("SELECT Severity, `Distance(mi)` AS Distance, Street, Side, `Temperature(F)` AS Temperature, `Wind_Chill(F)` AS Wind_Chill, `Humidity(%)` AS Humidity, `Pressure(in)` AS Pressure, `Visibility(mi)` AS Visibility, Wind_Direction, `Wind_Speed(mph)` AS Wind_Speed, `Precipitation(in)` AS Precipitation, Weather_Condition, Amenity, Bump, Crossing, Give_Way, Junction, No_Exit, Railway, Roundabout, Station, Stop, Traffic_Calming, Traffic_Signal, Turning_Loop, Sunrise_Sunset, Civil_Twilight, Nautical_Twilight, Astronomical_Twilight FROM usacc")
usacc_sqlDF.show()

+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|Severity|Distance|              Street|Side|Temperature|Wind_Chill|Humidity|Pressure|Visibility|Wind_Direction|Wind_Speed|Precipitation|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|       3|    0.01|              I-70 E|   R|       36.9|      null|    91.0|   29.68|      10.0|          Calm|      null|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                Night|
|       2|    0.01|            Brice Rd|   L|       37.9|      null|   100.0|   29.65|      10.0|          Calm|      null|          0.0|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                  Day|
|       2|    0.01|      State Route 32|   R|       36.0|      33.3|   100.0|   29.67|      10.0|            SW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|         Night|         Night|              Day|                  Day|
|       3|    0.01|              I-75 S|   R|       35.1|      31.0|    96.0|   29.64|       9.0|            SW|       4.6|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|           Day|              Day|                  Day|
|       2|    0.01|Miamisburg Center...|   R|       36.0|      33.3|    89.0|   29.65|       6.0|            SW|       3.5|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|      Westerville Rd|   R|       37.9|      35.5|    97.0|   29.63|       7.0|           SSW|       3.5|         0.03|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|      N Woodward Ave|   R|       34.0|      31.0|   100.0|   29.66|       7.0|           WSW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|           N Main St|   R|       34.0|      31.0|   100.0|   29.66|       7.0|           WSW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|      Notre Dame Ave|   L|       33.3|      null|    99.0|   29.67|       5.0|            SW|       1.2|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|      Westerville Rd|   R|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|         Outerbelt S|   R|       35.6|      30.7|    93.0|   29.64|       5.0|           WNW|       5.8|         null|             Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|              I-70 E|   R|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|    True|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|      Watervliet Ave|   R|       33.8|      null|   100.0|   29.63|       3.0|            SW|       2.3|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|           Salem Ave|   L|       36.0|      31.1|    89.0|   29.65|      10.0|            NW|       5.8|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|          E Broad St|   L|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|         Glencoe Ave|   R|       33.8|      null|   100.0|   29.63|       3.0|            SW|       2.3|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|S James H McGee Blvd|   R|       35.6|      null|    99.0|   29.65|       7.0|           WSW|       2.3|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|         Delphos Ave|   R|       36.0|      31.1|    89.0|   29.65|      10.0|            NW|       5.8|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|          Rubicon St|   L|       37.4|      32.1|    93.0|   29.63|      10.0|           WSW|       6.9|         null|         Overcast|  False|False|    True|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|     W Hillcrest Ave|   R|       36.0|      30.3|    89.0|   29.65|      10.0|          West|       6.9|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
only showing top 20 rows

In [17]:
usacc_sqlDF = usacc_sqlDF.withColumn('Street', regexp_replace('Street', 'Rd', ''))
usacc_sqlDF = usacc_sqlDF.withColumn('Street', regexp_replace('Street', 'Ave', ''))
usacc_sqlDF = usacc_sqlDF.withColumn('Street', regexp_replace('Street', 'St', ''))
usacc_sqlDF.show()

+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|Severity|Distance|              Street|Side|Temperature|Wind_Chill|Humidity|Pressure|Visibility|Wind_Direction|Wind_Speed|Precipitation|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Nautical_Twilight|Astronomical_Twilight|
+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
|       3|    0.01|              I-70 E|   R|       36.9|      null|    91.0|   29.68|      10.0|          Calm|      null|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                Night|
|       2|    0.01|              Brice |   L|       37.9|      null|   100.0|   29.65|      10.0|          Calm|      null|          0.0|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|         Night|            Night|                  Day|
|       2|    0.01|        ate Route 32|   R|       36.0|      33.3|   100.0|   29.67|      10.0|            SW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|         Night|         Night|              Day|                  Day|
|       3|    0.01|              I-75 S|   R|       35.1|      31.0|    96.0|   29.64|       9.0|            SW|       4.6|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|         Night|           Day|              Day|                  Day|
|       2|    0.01|Miamisburg Center...|   R|       36.0|      33.3|    89.0|   29.65|       6.0|            SW|       3.5|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|        Westerville |   R|       37.9|      35.5|    97.0|   29.63|       7.0|           SSW|       3.5|         0.03|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|         N Woodward |   R|       34.0|      31.0|   100.0|   29.66|       7.0|           WSW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|             N Main |   R|       34.0|      31.0|   100.0|   29.66|       7.0|           WSW|       3.5|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|         Notre Dame |   L|       33.3|      null|    99.0|   29.67|       5.0|            SW|       1.2|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|        Westerville |   R|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|         Outerbelt S|   R|       35.6|      30.7|    93.0|   29.64|       5.0|           WNW|       5.8|         null|             Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       3|    0.01|              I-70 E|   R|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|    True|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|         Watervliet |   R|       33.8|      null|   100.0|   29.63|       3.0|            SW|       2.3|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|              Salem |   L|       36.0|      31.1|    89.0|   29.65|      10.0|            NW|       5.8|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|            E Broad |   L|       37.4|      33.8|   100.0|   29.62|       3.0|           SSW|       4.6|         0.02|       Light Rain|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|            Glencoe |   R|       33.8|      null|   100.0|   29.63|       3.0|            SW|       2.3|         null|         Overcast|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|S James H McGee Blvd|   R|       35.6|      null|    99.0|   29.65|       7.0|           WSW|       2.3|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|     0.0|            Delphos |   R|       36.0|      31.1|    89.0|   29.65|      10.0|            NW|       5.8|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|            Rubicon |   L|       37.4|      32.1|    93.0|   29.63|      10.0|           WSW|       6.9|         null|         Overcast|  False|False|    True|   False|   False|  False|  False|     False|  False|False|          False|          True|       False|           Day|           Day|              Day|                  Day|
|       2|    0.01|        W Hillcrest |   R|       36.0|      30.3|    89.0|   29.65|      10.0|          West|       6.9|         null|    Mostly Cloudy|  False|False|   False|   False|   False|  False|  False|     False|  False|False|          False|         False|       False|           Day|           Day|              Day|                  Day|
+--------+--------+--------------------+----+-----------+----------+--------+--------+----------+--------------+----------+-------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+-----------------+---------------------+
only showing top 20 rows

In [18]:
road_sqlDF.createOrReplaceTempView("road_df")
usacc_sqlDF.createOrReplaceTempView("usacc_df")
merged_sqlDF = spark.sql("SELECT * FROM usacc_df ua, road_df r WHERE ua.Street = r.name")

In [19]:
#print(merged_sqlDF.count())
merged_sqlDF = merged_sqlDF.drop('Street')
merged_sqlDF = merged_sqlDF.drop('name')
merged_sqlDF = merged_sqlDF.na.drop()
print(merged_sqlDF.count())

68983

In [20]:
merged_sqlDF.describe().toPandas()

,summary,Severity,Distance,Side,Temperature,Wind_Chill,Humidity,Pressure,Visibility,Wind_Direction,...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,highway,oneway,length,lanes,maxspeed
0,count,68983,68983,68983,68983,68983,68983,68983,68983,68983,...,68983,68983,68983,68983,68983,68983,68983,68983,68983,68983
1,mean,2.153371120420973,0.12293930384905613,None,61.106320397779186,59.38936549584682,68.65288549352739,29.483081628807106,8.730162358842028,None,...,None,None,None,None,None,None,None,281.50233408231026,6.77955876984058,None
2,stddev,0.38019703972630237,0.9725041299737098,None,19.660199427775833,22.349363753097588,20.968244919212086,0.8711249345752929,3.1463374767002175,None,...,None,None,None,None,None,None,None,710.6026699159021,89.24707472962673,None
3,min,1,0.0,L,-0.0,-0.1,10.0,20.36,0.0,CALM,...,False,Day,Day,Day,Day,living_street,False,10.142,(616),10 mph
4,max,4,9.975,R,99.0,99.0,99.0,31.08,9.0,West,...,False,Night,Night,Night,Night,unclassified,True,99.98400000000001,yes,75 mph

In [71]:
rdac_df = merged_sqlDF.toPandas()
rdac_df['maxspeed'] = rdac_df['maxspeed'].str.replace("mph", "")
rdac_df['maxspeed'] = rdac_df['maxspeed'].str.replace(";", "")
rdac_df['maxspeed'] = rdac_df['maxspeed'].str.replace(" ", "")
rdac_df['maxspeed'] = rdac_df['maxspeed'].apply(pd.to_numeric)
rdac_df = rdac_df[rdac_df.maxspeed != 4035]
rdac_df = rdac_df.reset_index(drop=True)

In [72]:
rdac_df = rdac_df[rdac_df['lanes'].isin(['1','2','3','4','5','6','7','8','9','10'])]
rdac_df = rdac_df.reset_index(drop=True)
rdac_df

,Severity,Distance,Side,Temperature,Wind_Chill,Humidity,Pressure,Visibility,Wind_Direction,Wind_Speed,...,Turning_Loop,Sunrise_Sunset,Civil_Twilight,Nautical_Twilight,Astronomical_Twilight,highway,oneway,length,lanes,maxspeed
0,2,0.0,R,51.0,51.0,78.0,29.76,10.0,W,8.0,...,False,Night,Night,Day,Day,residential,False,455.119,2,25
1,3,1.15999996662,R,79.0,79.0,58.0,29.84,10.0,SW,9.0,...,False,Night,Night,Night,Night,residential,False,455.119,2,25
2,2,0.0,L,48.0,43.0,83.0,29.86,8.0,E,12.0,...,False,Day,Day,Day,Day,residential,False,455.119,2,25
3,2,0.0,L,67.0,67.0,40.0,29.64,10.0,VAR,3.0,...,False,Day,Day,Day,Day,residential,False,455.119,2,25
4,2,0.0,R,56.0,56.0,85.0,30.13,10.0,CALM,0.0,...,False,Day,Day,Day,Day,residential,False,455.119,2,25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57312,2,0.0,R,78.0,78.0,76.0,29.82,10.0,E,5.0,...,False,Day,Day,Day,Day,tertiary,False,1560.524,2,45
57313,2,0.0,L,73.0,73.0,96.0,29.52,7.0,ESE,5.0,...,False,Day,Day,Day,Day,tertiary,False,1560.524,2,45
57314,2,0.0,R,66.0,66.0,86.0,29.55,10.0,ESE,5.0,...,False,Day,Day,Day,Day,tertiary,False,1560.524,2,45
57315,2,0.0,R,50.0,50.0,35.0,30.09,10.0,W,3.0,...,False,Day,Day,Day,Day,tertiary,False,1560.524,2,45
57316,2,0.0,R,39.0,34.0,56.0,29.92,10.0,E,8.0,...,False,Day,Day,Day,Day,tertiary,False,1560.524,2,45

In [75]:
pd.set_option('display.precision',12)
rdac_df['Distance'] = rdac_df['Distance'].apply(float)
rdac_df.dtypes

Severity                  object
Distance                 float64
Side                      object
Temperature               object
Wind_Chill                object
Humidity                  object
Pressure                  object
Visibility                object
Wind_Direction            object
Wind_Speed                object
Precipitation             object
Weather_Condition         object
Amenity                   object
Bump                      object
Crossing                  object
Give_Way                  object
Junction                  object
No_Exit                   object
Railway                   object
Roundabout                object
Station                   object
Stop                      object
Traffic_Calming           object
Traffic_Signal            object
Turning_Loop              object
Sunrise_Sunset            object
Civil_Twilight            object
Nautical_Twilight         object
Astronomical_Twilight     object
highway                   object
oneway                    object
length                    object
lanes                     object
maxspeed                   int64
dtype: object

In [77]:
rdac_df.to_csv('./Data/Merged Data/US_Accidents_Road.csv', index = False, float_format='%.12f')